In [1]:
import pandas as pd

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2108\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was too old on your system - pyarrow 10.0.1 is the current minimum supported version as of this release.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df=pd.read_excel("ContentX.xlsx")
df.head(5)

,Unnamed: 0,Content ID,ContentType,Category
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,photo,healthy eating
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,photo,healthy eating
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,photo,technology
4,4,01ab84dd-6364-4236-abbb-3f237db77180,video,food

In [5]:
df=df.iloc[:,1:]
df.head(5)

                             Content ID ContentType        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2       photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810       photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f       photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6       photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180       video            food

In [6]:
df1=pd.read_excel("ReactionsX.xlsx")
df1=df1.iloc[:,1:]
df1.head(5)

                             Content ID ReactionType            Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      disgust 2020-11-07 09:43:00
1  97522e57-d9ab-4bd6-97bf-c24d952602d2      dislike 2021-06-17 12:22:00
2  97522e57-d9ab-4bd6-97bf-c24d952602d2       scared 2021-04-18 05:13:00
3  97522e57-d9ab-4bd6-97bf-c24d952602d2      disgust 2021-01-06 19:13:00
4  97522e57-d9ab-4bd6-97bf-c24d952602d2   interested 2020-08-23 12:25:00

In [7]:
df2=pd.read_excel("ReactionTypesX.xlsx")
df2=df2.iloc[:,1:]
df2.head()

  ReactionType Sentiment  Score
0        heart  positive     60
1         want  positive     70
2      disgust  negative      0
3         hate  negative      5
4   interested  positive     30

In [8]:
m1=pd.merge(df1,df,on="Content ID")
m1.head()

,Content ID,ReactionType,Datetime,ContentType,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:00,photo,Studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:00,photo,Studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:00,photo,Studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:00,photo,Studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:00,photo,Studying

In [9]:
m2=pd.merge(m1,df2,on="ReactionType")
m2.head()

,Content ID,ReactionType,Datetime,ContentType,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:00,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:00,photo,Studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:00,photo,Studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:00,photo,Studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:00,photo,Studying,positive,30

In [10]:
m2.to_csv("merged.csv")

In [11]:
d=pd.read_csv("merged.csv")
d.head()

,Unnamed: 0,Content ID,ReactionType,Datetime,ContentType,Category,Sentiment,Score
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:00,photo,Studying,negative,0
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:00,photo,Studying,negative,10
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:00,photo,Studying,negative,15
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:00,photo,Studying,negative,0
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:00,photo,Studying,positive,30

In [13]:
d=d.iloc[:,1:]
d.head()

,Content ID,ReactionType,Datetime,ContentType,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:00,photo,Studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:00,photo,Studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:00,photo,Studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:00,photo,Studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:00,photo,Studying,positive,30

In [14]:
d.to_csv("FinalData.csv")

In [15]:
d1=d.sort_values(by=["Score"],ascending=False)
d1.head()

,Content ID,ReactionType,Datetime,ContentType,Category,Sentiment,Score
12468,c5e2d733-94b9-4259-85e8-6fb7a95a1887,super love,2021-04-05 13:13:00,audio,tennis,positive,75
10973,afe1fed5-5639-45c7-89f8-ce9d1078c910,super love,2021-05-21 16:11:00,audio,cooking,positive,75
3133,f01ec49c-3179-43bb-b127-2b1a73f34b06,super love,2020-09-27 21:02:00,photo,animals,positive,75
18807,4bfc9824-aaeb-4695-8195-945686795b30,super love,2020-08-05 23:36:00,video,public speaking,positive,75
1383,e442899c-d2d6-4392-be2d-a0b916ae47fb,super love,2020-12-17 14:19:00,video,technology,positive,75

In [16]:
df1.to_csv("Final_top5.csv")